body {
  padding-top: 0px;
}
.starter-template {
  padding: 25px 20px;
  text-align: left;
}
#headshot {
    width: 115%;
}

.tab { margin-left: 40px; }

.navbar-header{width: 100%;}

h1, .h1, h2, .h2, h3, .h3{margin-top:30px;}

@media (max-width: 768px){
  .column{
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }

@media (max-width: 768px){
  .column img{
    width: 90%
  }
}
